{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">

        <div class="card has-text-centered">
          <div class="card-image">
            <figure class="image is-128x128 is-inline-block mt-4">
              <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo Expresarte">
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4">Bienvenido a <strong>Expresarte</strong></p>
            <p class="subtitle is-6 has-text-grey-dark">Descubre, crea y transforma</p>
            <p>La música es nuestro lenguaje común🎶</p>
            <p>Creamos,tocamos,conectamos❤️🎧🎆</p>
            <p>➕ 6 Años formando músicos integrales</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}
