<a class="navbar-item" href="{{ url_for('admin.gestionar_periodos') }}">Gestión de Períodos Académicos</a>
<a class="navbar-item" href="{{ url_for('admin.crear_periodo') }}">Crear Nuevo Período Académico</a>
<a class="navbar-item" href="{{ url_for('admin.lista_usuarios') }}">Gestión de Usuarios</a>
<a class="navbar-item" href="{{ url_for('admin.crear_usuario') }}">Crear usuario</a>
<a class="navbar-item" href="{{ url_for('admin.lista_profesores') }}">Gestión de Profesores</a>
<a class="navbar-item" href="{{ url_for('admin.gestionar_periodos') }}">Gestión de Períodos</a>
<a class="navbar-item" href="{{ url_for('admin.lista_profesores') }}">Lista de Profesores</a>

